
.itemTitle{
    text-align: center;
    margin-top: 1em;
    font-weight: bold;
}

.itemCol{
    background-color: blanchedalmond;
}


.cardHero{
    text-align: center;
    margin-top: 5%;

}

.itemImg {
    height: 250px;
    object-fit: cover;
}